@font-face {
    font-family: "dongle";
    src: local("dongle"),
         url("https://octocurious.com/include/dongle-ansi-light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
    font-display: swap;
    size-adjust: 200%;
}
@font-face {
    font-family: "dongle";
    src: local("dongle"),
         url("https://octocurious.com/include/dongle-ansi-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    size-adjust: 200%;
}
@font-face {
    font-family: "dongle";
    src: local("dongle"),
         url("https://octocurious.com/include/dongle-ansi-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    size-adjust: 200%;
}

@media only screen and (max-width: 950px) {
    #header {
        flex-direction: column;
    }
}

:root,
::backdrop {
    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
                 "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
                 "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --standard-border-radius: 10px;

    --bg: #edf6f7aa;
    --accent-bg: transparent;
    --accent: #3f00d2;
    --accent-hover: #3f00d2;
    --brand: #7f1373;
    --brand-desaturated: #4f4f4f;
    --backdrop: linear-gradient(0deg, #437f7c 0%, #e2f4f8 100%);
    --text: #212121;
    --text-light: #585858;
    --border: #898EA4;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
}

body {
    font-size: 1rem;
    line-height: 1.3;
    display: grid;
    grid-template-columns: 1fr min(50rem,90%) 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    margin: 0;
    background: var(--backdrop);
    font-family: sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: dongle, sans-serif;
    color: var(--brand);
}

main.content {
    background-color: var(--bg);
    border-radius: 50px;
    padding: 1.5em;
}

#header {
    display: flex;
    align-items: center;
    border-bottom: none;
    justify-content: space-around;
    padding: 0em 0.5em;
    max-height: 200px;
    font-family: dongle, sans-serif;
}

.site-title {
    display: flex;
    align-items: center;
    margin: 0.3em;
    min-width: 23em;
    width: 23em;
    font-size: 1.15rem;
}

.site-title .logo {
    height: 6.25em;
}

.site-title .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.site-title .text h1 {
    font-size: 2.3rem;
    line-height: 100%;
    margin: 0.5rem;
}

.site-title .text h2 {
    font-size: 1.5rem;
    line-height: 100%;
    margin: 0.5rem;
    color: var(--brand-desaturated);
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote footer {
    display: block;
    text-align: right;
}
