[submodule "themes/octohugious"]
	path = themes/octohugious
	url = https://github.com/cdo256/octohugious
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
